/* Importing fonts from Google Fonts API */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;400;600;800&family=Red+Rose:wght@300..700&display=swap");

/* Root variables for colors and gradients */
:root {
  /* Color variables */
  --primary-color: #00a896; /* Primary color */
  --red: #e63946; /* Red color */
  --text: #3d405b; /* Text color */
  --darker-green: #199184;
  --lighter-green: #92ccc5;

  /* Gradient variable */
  --bg-gradient: linear-gradient(
    45deg,
    #00a896,
    #2ae2c8
  ); /* Background gradient */
}

/* Resetting box model and spacing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Montserrat", sans-serif; /* Setting default font */
  overflow-x: hidden; /* Preventing horizontal overflow */
}

/* Utility Styles */

/* Styles for the close button */
.close {
  position: absolute; /* Position the close button */
  top: 20px; /* Distance from the top */
  right: 30px; /* Distance from the right */
  width: 40px; /* Make Button Click Point Bigger */
  height: 40px; /* Make Button Click Point Bigger */
  padding: 10px; /* Make Button Click Point Bigger */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.close * {
  transform: translateY(-50%);
}

/* Styles for close button lines on hover */
.close:hover .one {
  transform: rotate(-45deg); /* Rotate first line on hover */
}

.close:hover .two {
  transform: rotate(45deg); /* Rotate second line on hover */
}

/* Common styles for close button lines */
.close span {
  display: block; /* Display as block element */
  background-color: white; /* Line color */
  width: 2px; /* Line width */
  height: 25px; /* Line height */
}

/* Styles for the first line of the close button */
.close .one {
  transform: rotate(45deg); /* Initial rotation */
  position: absolute; /* Positioning */
  top: 50%; /* Distance from the top */
  left: 50%; /* Distance from the left */
  transition: 0.3s ease; /* Smooth transition */
}

/* Styles for the second line of the close button */
.close .two {
  transform: rotate(-45deg); /* Initial rotation */
  position: absolute; /* Positioning */
  top: 50%; /* Distance from the top */
  left: 50%; /* Distance from the left */
  transition: 0.3s ease; /* Smooth transition */
}

/* Styles for the contact container */
.success-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 550px;
  z-index: 9999999;
}

.success-message h2 {
  font-size: 45px;
  font-weight: bold;
}

.success-message h3 {
  font-size: 22px;
  font-weight: 500;
}

.success-message p {
  font-size: 18px;
  font-weight: 300;
}

.contact-container {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed position */
  align-items: center; /* Center alignment */
  justify-content: center; /* Center alignment */
  z-index: 100000; /* Z-index to appear on top */
  left: 0; /* Distance from the left */
  top: 0; /* Distance from the top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Styles for the open contact container */
.contact-container.open {
  display: flex; /* Display when open */
}

/* Styles for the contact form container */
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Relative position */
  background-color: var(--primary-color); /* Background color */
  border-radius: 6px; /* Border radius */
  width: 650px; /* Width */
  padding: 35px; /* Padding */
}

/* Styles for the contact us text */
.contact-us-text {
  display: flex; /* Display as flex */
  align-self: flex-start;
  flex-direction: column; /* Column direction */
  color: white; /* Text color */
}

.contact-us-text h2 {
  font-size: 45px; /* Font size */
  font-weight: bold; /* Font weight */
}

/* Styles for the contact form */
.contact-form {
  margin: 30px 0; /* Margin */
  display: flex; /* Display as flex */
  flex-direction: column; /* Column direction */
  font-family: inherit; /* Inherit font family */
  font-size: 20px; /* Font size */
  width: 100%;
}

.invisible {
  display: none;
}

/* Styles for the contact form labels */
.contact-form label {
  color: white; /* Text color */
}

/* Styles for the contact form inputs */
.contact-form input {
  height: 45px; /* Height */
  background-color: #008b7c; /* Background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 6px; /* Border radius */
  font-size: 20px; /* Font size */
  padding: 0 10px; /* Padding */
  margin: 17px 0; /* Margin */
}

.contact-form textarea {
  font-family: inherit;
  height: 90px; /* Height */
  background-color: #008b7c; /* Background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 6px; /* Border radius */
  font-size: 20px; /* Font size */
  padding: 10px 10px; /* Padding */
  margin: 17px 0; /* Margin */
  resize: none;
}

.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Placeholder color */
}

/* Styles for the contact form input placeholders */
.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Placeholder color */
  font-weight: 200; /* Font weight */
}

/* Styles for the contact form button */
.contact-form button {
  background-color: var(--red); /* Background color */
  color: white; /* Text color */
  font-family: inherit; /* Inherit font family */
  font-size: 18px; /* Font size */
  width: 150px; /* Width */
  height: 45px; /* Height */
  border: none; /* No border */
  border-radius: 12px; /* Border radius */
  align-self: flex-end; /* Align to end of container */
  margin-top: 10px; /* Margin top */
  transition: 0.2s ease; /* Smooth transition */
  cursor: pointer; /* Change cursor to pointer */
}

/* Styles for the contact form button on hover */
.contact-form button:hover {
  background-color: white; /* Background color on hover */
  color: var(--red); /* Text color on hover */
}

/* Styles for the contact form button when active */
.contact-form button:active {
  transform: scale(0.95); /* Scale down when active */
}

/* Subheading style */
.subheading {
  font-size: 45px;
  color: var(--text); /* Using text color variable */
  margin: 0 auto; /* Centering horizontally */
}

/* Header Styles */

/* Header background */
#header-background {
  position: fixed; /* Fixing header bg position */
  top: 0;
  left: 0;
  background-color: var(--primary-color); /* Using primary color variable */
  width: 100%; /* Full width */
  height: 90px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  opacity: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Header container */
header {
  position: fixed; /* Fixing header position */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensuring it appears above other content */
}

/* Container for header content */
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px; /* Padding for header content */
}

/* Logo styles */
.logo {
  width: 225px; /* Logo width */
  filter: brightness(0) invert();
}

/* Navigation styles */
nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering navigation */
}

nav ul {
  display: flex;
  gap: 50px; /* Gap between navigation items */
}

nav ul li {
  list-style-type: none; /* Removing list bullets */
  font-size: 18px;
  font-weight: 600;
  color: white;
  transition: 0.2s ease; /* Smooth transition on hover */
  cursor: pointer;
}

nav ul li:hover {
  transform: scale(1.1); /* Scale effect on hover */
}

nav ul li a {
  text-decoration: none;
  color: inherit; /* Inheriting color */
}

/* Get Started Button styles */
.get-started-btn {
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 12px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color); /* Using primary color variable */
  cursor: pointer;
  transition: all 0.1s ease; /* Smooth transition on hover */
}

.get-started-btn:hover {
  background-color: var(--red); /* Background color change on hover */
  color: white; /* Text color change on hover */
}

.get-started-btn:active {
  transform: scale(0.95); /* Button scale when clicked */
}

/* Hero Section */

/* Background particles */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: visible;
}

/* Hero section container */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 800px;
  color: white;
  margin: 0 125px;
  z-index: 2;
}

/* Gradient overlay */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: var(--bg-gradient); /* Using background gradient variable */
  transform: scaleX(1.8);
  z-index: -10;
}

/* Hero left content */
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 600px;
}

/* Hero heading */
.hero-left h1 {
  font-size: 60px;
  max-width: 515px;
}

/* Hero subheading */
.hero-left span {
  line-height: 22px;
}

/* Hero buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-buttons button:active {
  transform: scale(0.95);
}

/* Maximize Potential button */
.maximize-potential {
  width: 225px;
  height: 40px;
  background-color: var(--red); /* Using red color variable */
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  transition: 0.2s ease;
  cursor: pointer;
}

.maximize-potential:hover {
  background-color: white;
  color: var(--red); /* Using red color variable */
}

.maximize-potential:active {
  transform: scale(0.95);
}

/* Learn More button */
.learn-more {
  width: 150px;
  height: 40px;
  background: transparent;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 12px;
  transition: 0.1s ease;
  cursor: pointer;
}

.learn-more:hover {
  background-color: white;
  color: var(--primary-color); /* Using primary color variable */
}

/* Hero image */
#hero-image {
  width: 550px;
}

/* Services Section */

/* Services section container */
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 100px auto 50px auto;
}

/* Services grid */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: 100px 200px;
  z-index: 0;
}

/* Individual service */
.service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  text-align: center;
  width: 300px;
  height: 360px;
  background-color: var(--primary-color); /* Using primary color variable */
  border-radius: 20px;
  transition: 0.2s ease;
  z-index: auto;
}

/* Service heading */
.service-heading {
  font-size: 18px;
  font-weight: bold;
  color: white;
  max-width: 250px;
}

/* Service text */
.service-text {
  font-size: 18px;
  font-weight: 400;
  color: white;
  max-width: 280px;
}

/* Service background before and after pseudo-elements */
.service::before,
.service::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 360px;
  border-radius: 20px;
  z-index: -1;
}

.service::before {
  top: -10px;
  left: -10px;
  background-color: var(--darker-green); /* Using darker green color variable */
}

.service::after {
  top: 10px; /* Adjusted to be below ::before */
  left: 10px; /* Adjusted to be below ::before */
  background-color: var(
    --lighter-green
  ); /* Using lighter green color variable */
}

.service:hover {
  background-color: #0cc0ae;
}

/* Discover More Section Styles */

/* Discover more section container */
.discover-more-section {
  display: flex;
  flex-direction: column;
  padding: 0px 150px; /* Remove horizontal padding */
}

/* Discover more container */
.discover-more-container {
  margin: 100px 0;
}

/* Text container */
.text {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Set maximum width for text container */
  color: var(--text); /* Using text color variable */
  font-size: 20px;
}

/* Headings within text container */
.text h3 {
  font-size: 26px; /* Set font size for headings */
  margin: 30px 0;
}

/* Individual items within discover more container */
.discover-more-container div {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Add space between items */
  width: 100%; /* Ensure each item spans the full width */
}

/* Odd-indexed items */
.odd {
  flex-direction: row-reverse; /* Reverse row direction for odd items */
  text-align: right; /* Align text to the right for odd items */
}

/* Even-indexed items */
.even {
  flex-direction: row; /* Set row direction for even items */
  text-align: left; /* Align text to the left for even items */
}

/* Text container within odd-indexed items */
.odd .text {
  align-items: flex-end; /* Align text to the bottom for odd items */
}

/* Text container within even-indexed items */
.even .text {
  align-items: flex-start; /* Align text to the top for even items */
}

/* Images within discover more section */
.discover-more-section img {
  width: 100%; /* Set width to fill container */
  max-width: 400px; /* Limit maximum width for images */
}

/* Testimonials Section */

/* Container for testimonials section */
.testimonials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content within the section does not overflow */
  gap: 80px; /* Spacing between testimonials */
  height: 550px; /* Fixed height for the testimonials section */
  width: 100%; /* Full width of the container */
  padding: 0 220px; /* Horizontal padding */
}

/* Swiper container */
.swiper {
  width: 100%;
  max-width: 1000px; /* Set width of the swiper container */
  height: 250px; /* Set height of the swiper container */
}

/* Container for testimonials */
.testimonials-container {
  display: flex; /* Display testimonials in a row */
  gap: 100px; /* Spacing between individual testimonials */
  max-width: 1000px; /* Limit the maximum width of the container */
}

/* Individual testimonial */
.testimonial {
  display: flex; /* Display contents of testimonial in a column */
  flex: 0 0 auto; /* Allow testimonial to grow but not shrink */
  flex-direction: column; /* Align contents of testimonial in a column */
  align-items: center; /* Center contents horizontally */
  text-align: center; /* Align text in center */
  gap: 80px; /* Spacing between text and author */
}

/* Testimonial text */
.testimonial .text {
  max-width: 1000px; /* Limit the maximum width of the text */
  word-break: break-all; /* Break long words */
  white-space: wrap; /* Wrap long lines of text */
  margin-bottom: 60px; /* Spacing at the bottom of the text */
}

/* Testimonial author */
.testimonial .author {
  color: var(--text); /* Color of the author text */
}

/* Author name */
.testimonial .author .name {
  font-weight: 600; /* Bold font weight for the author's name */
}

/* About Us Section */

/* Background particles for about section */
#particles-js2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* About section container */
.about-section {
  position: relative;
  width: 100%;
  height: 500px;
}

/* About container */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--primary-color); /* Using primary color variable */
  padding: 0 150px;
  border-radius: 6px;
}

/* About left content */
.about-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  max-width: 600px;
  font-size: 20px;
  z-index: 1;
}

/* About heading */
.about-left h2 {
  font-size: 45px;
  font-size: bold; /* Incorrect property value, should be font-weight */
}

/* About image */
.about-img {
  width: 350px;
  filter: brightness(0) invert();
}

/* Call to Action (CTA) Section */

/* CTA section container */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 120px 100px;
}

/* CTA container */
.cta {
  position: relative;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color); /* Using primary color variable */
  border-radius: 34px;
  width: 1200px;
  height: 400px;
  overflow: hidden;
  z-index: 0;
}

/* CTA heading */
.cta h2 {
  color: white;
  font-size: 45px;
  text-align: center;
  max-width: 79%;
}

/* Background circles for CTA */
.bg-circle {
  position: absolute;
  background-color: white;
  opacity: 0.2;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  transform: scaleX(1.15);
  z-index: 1;
}

.bg-circle.one {
  top: -400px;
  left: -200px;
}

.bg-circle.two {
  top: -300px;
  left: -150px;
}

.bg-circle.three {
  top: -200px;
  left: -100px;
}

/* Footer Style */

/* Footer container */
footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color); /* Using primary color variable */
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* Footer content container */
.footer-container {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 0px 100px;
  padding-top: 35px;
}

/* Logo and quote container */
.logo-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

/* Logo image */
.logo-quote img {
  width: 250px;
  margin-bottom: 30px;
  filter: brightness(0) invert();
}

/* Footer quote */
.logo-quote p {
  font-weight: 200;
  font-size: 1em;
  max-width: 250px;
}

/* Individual footer item */
.footer-item {
  max-width: 300px;
  height: 120px;
}

/* Footer links container */
.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}

/* Location container */
.location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Location text */
.location-container span {
  font-weight: bold;
}

/* Location */
.location {
  margin-top: -5px;
}

/* Follow us container */
.follow-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Social media icons */
.follow-us a {
  width: 40px;
  height: 40px;
}

/* LinkedIn icon */
.linkedin {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/icons/linkedin.svg");
  background-size: cover;
}

/* Footer links */
.footer-container a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

/* Hover effect on footer links */
.footer-container a:hover {
  transform: translateY(-6px);
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 100%;
  padding: 0 100px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 200;
  white-space: nowrap;
}

.copyright hr {
  opacity: 0.5;
}

.copyright-year {
  display: inline;
  margin: 0;
  padding: 0;
}
