/* Media queries for mobile devices */

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 768px) {
  /* Prevent horizontal scrolling */
  body,
  html {
    overflow-x: hidden;
  }

  /* Adjust subheading styles */
  .subheading {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    margin: 0 auto;
  }

  /* Adjust header container */
  .header-container {
    width: 100vw;
    padding: 15px 25px;
    justify-content: center;
  }

  /* Hide Get Started button */
  .get-started-btn {
    display: none;
  }

  /* Hide navigation */
  nav {
    display: none;
  }

  /* Adjust hero section */
  .hero-section {
    margin: 20px 25px;
    justify-content: center;
    height: 90vh;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  /* Adjust hero heading */
  .hero-left h1 {
    font-size: 35px;
  }

  /* Hide hero span */
  .hero-left span {
    display: none;
  }

  /* Adjust hero image */
  #hero-image {
    width: 280px;
    height: 280px;
  }

  /* Adjust hero section background */
  .hero-section::before {
    height: 90vh;
    transform: scaleX(3);
  }

  /* Adjust hero buttons */
  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .learn-more {
    width: 225px;
  }

  /* Services Section */

  .services {
    justify-content: center;
  }

  /* Adjust discover more section */
  .discover-more-section {
    padding: 0px 25px;
  }

  .discover-more-container div {
    flex-direction: column-reverse;
    text-align: center;
  }

  .discover-more-container .item {
    margin-bottom: 60px;
  }

  .text h3 {
    width: 100%;
  }

  .discover-more-container .text {
    flex-direction: column;
  }

  /* Adjust testimonials */

  .testimonials-section {
    padding: 0 25px;
    margin: 100px 0;
  }

  .swiper {
    width: 300px;
    height: 600px;
  }

  /* Adjust about section */
  .about-section {
    height: 1000px;
  }

  .about-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding: 0 25px;
  }

  .about-left {
    justify-self: center;
    align-items: center;
  }

  .about-right img {
    width: 300px;
  }

  /* Adjust call-to-action section */
  .cta-section {
    margin: 100px 25px;
  }

  .cta {
    width: 100%;
  }

  .cta h2 {
    font-size: 35px;
    z-index: 3;
  }

  .cta .maximize-potential {
    z-index: 3;
  }

  /* Adjust footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    height: 800px;
    gap: 30px;
    text-align: center;
    padding: 50px 25px 80px 25px;
  }

  .follow-us {
    align-items: center;
  }

  .copyright {
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    padding: 0 25px;
  }
}
