/* Media queries for tablet devices */

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Prevent horizontal scrolling */
  .custom-body-class,
  html,
  .wrapper {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-x: hidden;
  }

  * {
    overflow-x: hidden;
  }

  /* Adjust subheading styles */
  .subheading {
    font-size: 38px; /* Reduced font size */
  }

  /* Adjust header container */
  .header-container {
    padding: 15px 25px; /* Reduced horizontal padding */
  }

  /* Show Get Started button */
  .get-started-btn {
    display: block;
  }

  /* Show navigation */
  nav {
    display: block;
  }

  nav ul {
    gap: 30px;
  }

  /* Adjust hero section */
  .hero-section {
    margin: 0px 50px; /* Reduced margin */
    align-items: center; /* Centering items horizontally */
    height: 600px; /* Reduced height */
  }

  /* Adjust hero heading */
  .hero-left h1 {
    font-size: 38px; /* Reduced font size */
  }

  /* Adjust hero image */
  #hero-image {
    width: 350px; /* Reduced width */
    height: 350px; /* Reduced height */
  }

  /* Adjust hero section background */
  .hero-section::before {
    height: 600px; /* Reduced height */
    transform: scaleX(1.8); /* Reduced scale */
  }

  /* Adjust discover more section */
  .discover-more-section {
    padding: 0px 50px; /* Reduced horizontal padding */
  }

  /* Adjust testimonials */
  .testimonials-section {
    padding: 0 50px; /* Reduced horizontal padding */
    margin: 50px 0;
  }

  /* Prevents word breaking */
  .testimonial .text {
    word-break: keep-all;
  }

  .swiper {
    width: 600px; /* Reduced width */
    height: 300px; /* Reduced height */
  }

  /* Adjust about section */
  .about-section {
    height: 500px;
  }

  .about-container {
    gap: 60px;
    padding: 0 50px; /* Reduced horizontal padding */
  }

  .about-right img {
    width: 300px; /* Reduced width */
  }

  /* Adjust call-to-action section */
  .cta-section {
    margin: 100px 50px; /* Reduced margin */
  }

  .cta {
    width: 100%;
  }

  .cta button {
    z-index: 4;
  }

  .cta h2 {
    font-size: 35px; /* Reduced font size */
  }

  /* Adjust services section */
  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 100px auto 50px auto;
  }

  .services {
    margin: 100px auto; /* Reduced margin */
    justify-content: center;
  }

  /* Footer */
  .footer-container {
    align-items: flex-start;
    padding: 35px 25px 0 25px;
  }

  .logo-quote img {
    width: 200px;
    margin-bottom: 15px;
  }

  .logo-quote p {
    font-size: 14px;
  }

  .location {
    line-height: 24px;
  }

  .copyright {
    padding: 0 25px;
  }
}
